* {

}
body {
  background-color: #c2edda;
}
li {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Vollkorn', serif;
  color: #ff1e00;
}
hr {
  height: 3px;
  color: white;
}
a {
  text-decoration-color: black;
}
a:hover {
  color: white;
}
