* {
}
body {
  background-color: #c2edda;
}
li {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Vollkorn', serif;
  color: #ff1e00;
  margin-left: 20px;
}
hr {
  height: 10px;
  color: white;
}
a {
  text-decoration-color: black;
}
a:hover {
  color: white;
  text-decoration: none;
}
