* {

}
body {
  background-color: #FDF7F0;
}
button {
  background-color: #A8733B;
  color: #FDF7F0;
  padding: 20px;
}
footer {
  text-align: center;
}
h1 {
  font-family: 'Piazzolla', serif;
  Font-weight: 900;
  Font-size: 36px;
  Color: black;
}
h2 {
  font-family: 'Piazzolla', serif;
  Font-weight: bold;
  Font-size: 30px;
  Color: black;
  line-height: 50px;
}
h3 {
  font-family: 'Piazzolla', serif;
  Font-weight: bold;
  Font-size: 24px;
  Color: black;
}
h4 {
  font-family: 'Piazzolla', serif;
  Font-weight: 400;
  Font-size: 20px;
  Color: black;
  line-height: 25px;
}
h5 {
  font-family: 'Piazzolla', serif;
  Font-weight: 600;
  Font-size: 18px;
  Color: black;
  Line-height: 30px
}
h6 {
  font-family: 'Piazzolla', serif;
  Font-weight: 400;
  Font-size: 16px;
  Color: black;
  Line-height: 22px
}
hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #707070;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.active, .dot:hover {
  background-color: #C1C1C1;
}
.bar {
  display:block;
  padding: 5px;
  background-color: #ECE0DD;
}
.bottom-nav {
  background-color:
  display: inline-flex;
  padding: 20px;
  width:100%;
  justify-content: space-between;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #651313;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.drinks {
  display: inline-flex;
  width:48%;
  margin-right: 10px;
}
.drop-down {
  display: none;
}
.hot-menu {
  display: flex;
  width: 100%;
}
.iced-menu {
  display: flex;
  width: 100%;
}
.red {
  color: #651313;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fas .fa-bars{
  right: 0;
  display: inline;
  position: absolute;
}
.fas .fa-bars: active, .fas .fa-bars: visited{
  color: #651313;
}
.fas .fa-bars: hover{
  color: #ECE0DD;
}
.banner {
  width: 100%;
  height: auto;
}
.body-grid {
  display: grid;
  grid-template-columns:
}
.locationsinfo {
  display: block;
  background-color: #ECE0DD;
}
.locationlinks {
  padding: 5px 20px 20px 20px;
  line-height: 100;
}
.logo {
  display:inline-block;
  margin-top: 20px;
  margin-left: 10px;
  width: 68%;
  height: auto;
}
.margin {
  margin: 20px;
}
.menunav-mobile {
  display: inline-flex;
  background-color: #ECE0DD;
  width:100%;
  height: auto;
}
.menu-photo {
  width:42%;
  right: 0;
}
.mobile-nav {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 50px;
}
.mySlides {
  display: none;
}
#navlinks {
  display: block;
  background-color: #FDF7F0;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.prices {
  display: inline-flex;
  width: 52%;
  justify-content: space-around;
}
.semibold {
  font-weight:600;
}
.specials {
  display: block;
}
.specials-menu {
  display: block;
  width: 100%;
}
.slideshow-container {
  width: 100%;
  display: block;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}
.top-nav {
  overflow: hidden;
  position: relative;
}
.top-nav #navlinks {
  display: none;
}
.trans-box {
  background-color: black;
  opacity:.6;
}
.underline {
  text-decoration: underline;
}
