* {

}
body {
  background-color: #c2edda;
}
h1 {
  color: #ff1e00;
  font-family: 'Vollkorn', serif;
  margin-left: 20px;
}
li {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
.hoverlink:hover {
  color: white;
  text-decoration: none;
}
.boldred-text {
  color: #ff1e00;
  font-weight: bold;
}
