* {

}
body {
  background-color: #c2edda;
  margin-left: 20px;
}
button {
  background-color: black;
  border:#ff1e00;
  color: #c2edda;
  font-family: 'Montserrat', sans-serif;
}
button:hover {
  background-color: #ff1e00;
}
h1 {
  color: #ff1e00;
  font-family: 'Vollkorn', serif;
  margin-left: 20px;
}
li {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
.hoverlink:hover {
  color: white;
  text-decoration: none;
}
.hoverlink:active{
  color: black;
}
.boldred-text {
  color: #ff1e00;
  font-weight: bold;
}
.bigpara {
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: #c2edea;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: #c2edff;
}
}
