
body {
  margin: 3.15% 3.47% 2.67% 3.47%;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: black;
  font-size: 3.5vw;
  line-height: 3.75vw;
  letter-spacing: -.14vw;
}
h2 {
  font-family: Kepler-STD, serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 2vw;
  line-height: 2.1vw;
  letter-spacing: 0vw;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: regular;
  font-style: normal;
  color: black;
  font-size: 1.17vw;
  line-height: 1.8vw;
  letter-spacing: -.05vw;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 2.74fr;
  grid-template-rows: 70vw 50vw;
  grid-column-gap: 9.5vw;
  grid-row-gap: 2.5vw;

}
.grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 5vw;
}
.grid-item-2 {
  display: block;
  margin-top: auto;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.grid-item-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.grid-item-4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.footer {
  position: absolute;
  right: 8vw;
  padding-top: 3.5vw;
  padding-bottom: 1vw;
}
